@import "tailwindcss";

@font-face {
  font-family: "NotoSansKR";
  src: url("./assets/font/NotoSansKR-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("./assets/font/NotoSansKR-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: PretendardVariable;
  src:
    local("PretendardVariable"),
    url("/font/PretendardVariable.woff2") format("woff");
  font-display: swap;
}
